Source: ros-jade-theora-image-transport
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 9.0.0), libogg-dev, libtheora-dev, ros-jade-catkin, ros-jade-cv-bridge, ros-jade-dynamic-reconfigure, ros-jade-image-transport, ros-jade-message-generation, ros-jade-pluginlib, ros-jade-rosbag, ros-jade-std-msgs
Homepage: http://www.ros.org/wiki/image_transport_plugins
Standards-Version: 3.9.2

Package: ros-jade-theora-image-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libogg-dev, libtheora-dev, ros-jade-cv-bridge, ros-jade-dynamic-reconfigure, ros-jade-image-transport, ros-jade-message-runtime, ros-jade-pluginlib, ros-jade-rosbag, ros-jade-std-msgs
Description: Theora_image_transport provides a plugin to image_transport for transparently sending an image stream encoded with the Theora codec.
